.sceneCanvas {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  touch-action: none;
  cursor: crosshair;
  user-select: none;
  background-color: antiquewhite;
  outline: none;
  z-index: 0;
}

